body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #FFFFFF;
	SCROLLBAR-FACE-COLOR: #F6FBFF; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #99A1BB; SCROLLBAR-3DLIGHT-COLOR: #CFD6F2; SCROLLBAR-ARROW-COLOR: #99A1BB; SCROLLBAR-TRACK-COLOR: #F6FBFF; SCROLLBAR-DARKSHADOW-COLOR: #ffffff; SCROLLBAR-BASE-COLOR: #ffffff
}
p,td {  font-family: "MS Shell Dlg",ו; font-size: 12px; word-break:break-all}
form { margin: 0px;}
input,select,textarea {
	font-family: "MS Shell Dlg",ו;
	font-size: 12px;
}
.l140 {line-height:140%}
.L15 {line-height:150%}
.L17 {line-height:170%}

.navlink A:visited { COLOR: #FFFFFF; TEXT-DECORATION: none} 
.navlink A:link { COLOR: #FFFFFF; TEXT-DECORATION: none} 
.navlink A:hover { COLOR: #FFFFFF; TEXT-DECORATION: underline} 

.toplink A:visited { COLOR: #104070; TEXT-DECORATION: none} 
.toplink A:link { COLOR: #104070; TEXT-DECORATION: none} 
.toplink A:hover { COLOR: #FF0000; TEXT-DECORATION: underline} 

.whitelink A:visited { COLOR: #FFFFFF; TEXT-DECORATION: none} 
.whitelink A:link { COLOR: #FFFFFF; TEXT-DECORATION: none} 
.whitelink A:hover { COLOR: #FF0000; TEXT-DECORATION: underline} 

.blacklink A:visited { COLOR: #000000; TEXT-DECORATION: none} 
.blacklink A:link { COLOR: #000000; TEXT-DECORATION: none} 
.blacklink A:hover { COLOR: #FF0000; TEXT-DECORATION: underline} 

.lTlink A:visited { COLOR: #104070; TEXT-DECORATION: none} 
.lTlink A:link { COLOR: #104070; TEXT-DECORATION: none} 
.lTlink A:hover { COLOR: #FF0000; TEXT-DECORATION: underline} 

A:visited { COLOR: #000099; TEXT-DECORATION: none} 
A:link { COLOR: #000099; TEXT-DECORATION: none} 
A:hover { COLOR: #FF0000; TEXT-DECORATION: underline}

.topBgcolor {
	background-color: #F1F1F1;
}
.navBg {
	background-image: url(../images/nav_bg.gif);
}
.navFontColor {
	color: #FFFFFF;
}
.Fborder {
	border-top-width: 0px;
	border-right-width: 4px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #4B8CCE;
	cursor: w-resize;
}
.locFontColor {
	color: #474747;
}
.locCurrColor {
	color: #104070;
	font-weight: bold;
}
.tbBorderStyle {
	background-color: #C8D9E4;
	border: 3px solid #FFFFFF;
}
.tbTitleFont {
	color: #003366;
}
.inputTbBorder {
	background-color: #6699CC;
}
.inputTitle {
	background-color: #E7F7FF;
	font-weight: bold;
	color: #104070;
}
.inputItem {
	background-color: #F6FBFF;
	color: #333333;
}
.inputContent {
	background-color: #FFFFFF;
	color: #003366;
}
.inputStyle {
	background-color: #DFF1F9;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.btnStyle {
	background-image: url(../images/blue_btn_bg.gif);
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #6991BC;
	border-right-color: #6991BC;
	border-bottom-color: #6991BC;
	border-left-color: #6991BC;
	height: 20px;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	color: #003366;
}
.btnStyleO {
	background-color:#064FAD;
	color:#FFFFFF;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #6991BC;
	border-right-color: #6991BC;
	border-bottom-color: #6991BC;
	border-left-color: #6991BC;
	height: 20px;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
}

.tbIntroFont {
	color: #999999;
}

.tdBorderColor {
	background-color: #FFFFFF;
}
.listTopColor1 {
	background-color: #BED4E8;
}
.listTopColor2 {
	background-color: #F4F6F9;
	padding-right: 8px;
	padding-left: 8px;
}
.listTopColor3 {
	background-color: #A8B3BC;
}
.listTopColor4 {
	background-color: #B8C1C8;
}
.listTborderC {
	background-color: #6699CC;
}
.listTitleC {
	background-color: #E7F7FF; padding-left:4px;
}
.listTconC {
padding-left:4px;
}
.TrOver {
	background-color: #FFF9E1;
}
.TrOut {
	background-color: #FFFFFF;
}.inputInfoC {
	color: #003366;
}
.listTfont {
	color: #104070;
	font-weight: bold;
}
.listTfont1 {
	color: #104070;
}
.paneBorder {
	border: 1px solid #6699CC;
	background-color: F6FBFF;
	padding: 10px;
}
.paneBorder1 {
	background-color: F6FBFF;
	padding: 10px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #6699CC;
	border-right-color: #6699CC;
	border-bottom-color: #6699CC;
	border-left-color: #6699CC;
}
.paneBorderC {
	background-color: #6699CC;
}
.paneFont {
	color:#104070;
	font-weight:bold;
}
.tabInfo {
	background-image: url(../images/tab_bg.gif);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #6699CC;
	border-right-color: #6699CC;
	border-bottom-color: #6699CC;
	border-left-color: #6699CC;
}
.tabSelect {
	background-image: url(../images/tab_page_01.gif);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #6699CC;
	border-right-color: #6699CC;
	border-bottom-color: #6699CC;
	border-left-color: #6699CC;
}
.tabNoSelect {
	background-image: url(../images/tab_page_02.gif);
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: solid;
	border-top-color: #6699CC;
	border-right-color: #6699CC;
	border-bottom-color: #6699CC;
	border-left-color: #6699CC;
}
.tabBlank {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #6699CC;
	border-right-color: #6699CC;
	border-bottom-color: #6699CC;
	border-left-color: #6699CC;
}
.treeColor {
	background-color: #6AAADF;
}
.treeTitle {
	background-color: #E7F7FF;
	color: #003366;
	font-weight: bold;
}
.treeContent {
	background-color: #E7F3FF;
}
.popBorder {
	background-color: #2E88C9;
}
.popCon {
	background-color: #F5F5F5;
}
.popTitle {
	color: #FFFFFF;
	background-color: #2E88C9;
}
.popBottom {
	background-color: #2E88C9;
}
.topColor {
	color: #104070;
}
.smallInputBg1 {
	background-image: url(../images/small_input_03.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #F6FBFF;
}
.smallInputColor {
	background-color: #F4F7FB;
}
.navSelectFont {
	font-weight: bold;
	color: #FFFF00;
}
.popTitle2 {
	color: #003366;
	font-weight: bold;
}
