<?xml version="1.0"?><configuration>

  <appSettings>
    <!-- 美发店DataProvider -->
    <add key="HairShopDataProvider" value="HairNet.Provider,HairNet.Provider.HairShopDataProviderInstance"/>
    <!-- 美发师DataProvider -->
    <add key="HairEngineerDataProvider" value="HairNet.Provider,HairNet.Provider.HairEngineerDataProviderInstance"/>
    <!-- 图片库DataProvider -->
    <add key="PictureStoreDataProvider" value="HairNet.Provider,HairNet.Provider.PictureStoreDataProviderInstance"/>
    <!-- 美发产品DataProvider -->
    <add key="ProductDataProvider" value="HairNet.Provider,HairNet.Provider.ProductDataProviderInstance"/>
    <!-- 文章DataProvider -->
    <add key="ArticleDataProvider" value="HairNet.Provider,HairNet.Provider.ArticleDataProviderInstance"/>
    <!-- 通用DataProvider -->
    <add key="CommonDataProvider" value="HairNet.Provider,HairNet.Provider.CommonDataProviderInstance"/>
    <!-- 用户DataProvider-->
    <add key="UserDataProvider" value="HairNet.Provider,HairNet.Provider.UserDataProviderInstance"/>

    <!-- 推荐信息配置接口 -->
    <add key="HairShopRecommandInfo" value="美发厅推荐信息，由甲方填写"/>
    <add key="HairEngineerRecommandInfo" value="美发师推荐信息，由甲方填写"/>
    <add key="ProductRecommandInfo" value="美发产品推荐信息，由甲方填写"/>
    <add key="PictureStoreRecommandInfo" value="图片库推荐信息，由甲方填写"/>
    
    <!-- 水印设置 -->
      <add key="WaterMarkPath" value="/Theme/Images/watermarker.png"/>
      <add key="CopyrightText" value="copyright 2008"/>

      <add key="PictureScaleSize" value="200,200"/>
    
    <!-- 图片设置 -->
    <add key="TypeConfiguration" value="GIF;JPEG;JPG;BMP;PNG"/>
    <!-- 上传大小 默认800K -->
    <add key="UploadSize" value="800"/>
     <!-- discuz 论坛连接设置 -->
    <add key="Discuz_ConnectionString" value="server=122.11.49.231;user id=hair; password=FjTvu,NsLwK,Hbvt; database=discuz; pooling=false;charset=gb2312"/>
   
  </appSettings>
  <connectionStrings>
    <!-- 数据库连接配置 -->
    <add name="MSSqlServer1" connectionString="server=.;database=HairNetDB;uid=sa;pwd=sa;"/><!--j3g4x5xiao4#7jpnet -->
    <add name="MSSqlServer" connectionString="server=219.238.57.148;database=HairNetDB;uid=sa;pwd=sharon0320;"/>
    <add name="MSSqlServer3" connectionString="server=172.16.31.230\SQL_2005,1318;database=HairNetDB;uid=sa;pwd=sasa;"/><!--j3g4x5xiao4#7jpnet -->

    <add name="MSSqlServer4" connectionString="server=122.11.49.228;database=HairNetDB;uid=sa;pwd=j3g4x5xiao4#7jpnet;"/>

    <!--j3g4x5xiao4#7jpnet -->
  </connectionStrings>
  <location path="admin/GetImageCode.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="admin/UserInfoAdmin.aspx">
    <system.web>
      <authorization>
        <allow users="admin"/>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="admin">
    <system.web>
      <authorization>

        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  
    <system.web>
      <httpHandlers>
        <add verb ="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      </httpHandlers>

      <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
      <authentication mode="Forms">
        <forms name="401kApp" loginUrl="~/admin/userlogin.aspx"/>
      </authentication>
      <authorization>
        <allow users="*"/>
      </authorization>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
</configuration>