<?xml version="1.0"?>

<configuration>

  <appSettings>
    <!-- 美发店DataProvider -->
    <add key="HairShopDataProvider" value="HairNet.Provider,HairNet.Provider.HairShopDataProviderInstance"/>
    <!-- 美发师DataProvider -->
    <add key="HairEngineerDataProvider" value="HairNet.Provider,HairNet.Provider.HairEngineerDataProviderInstance"/>
    <!-- 图片库DataProvider -->
    <add key="PictureStoreDataProvider" value="HairNet.Provider,HairNet.Provider.PictureStoreDataProviderInstance"/>
    <!-- 美发产品DataProvider -->
    <add key="ProductDataProvider" value="HairNet.Provider,HairNet.Provider.ProductDataProviderInstance"/>
    <!-- 文章DataProvider -->
    <add key="ArticleDataProvider" value="HairNet.Provider,HairNet.Provider.ArticleDataProviderInstance"/>
    <!-- 通用DataProvider -->
    <add key="CommonDataProvider" value="HairNet.Provider,HairNet.Provider.CommonDataProviderInstance"/>
    <!-- 用户DataProvider-->
    <add key="UserDataProvider" value="HairNet.Provider,HairNet.Provider.UserDataProviderInstance"/>

    <!-- 推荐信息配置接口 -->
    <add key="HairShopRecommandInfo" value="美发厅推荐信息，由甲方填写"/>
    <add key="HairEngineerRecommandInfo" value="美发师推荐信息，由甲方填写"/>
    <add key="ProductRecommandInfo" value="美发产品推荐信息，由甲方填写"/>
    <add key="PictureStoreRecommandInfo" value="图片库推荐信息，由甲方填写"/>
    
    <!-- 水印设置 -->
      <add key="WaterMarkPath" value="/Theme/Images/watermarker.png"/>
      <add key="CopyrightText" value="copyright 2008"/>

      <add key="PictureScaleSize" value="200,200"/>
    
    <!-- 图片设置 -->
    <add key="TypeConfiguration" value="GIF;JPEG;JPG;BMP;PNG"/>
    <!-- 上传大小 默认800K -->
    <add key="UploadSize" value="800"/>
     <!-- discuz 论坛连接设置 -->
    <add key="Discuz_ConnectionString" value="server=localhost;user id=root; password=123456; database=discuz; pooling=false;charset=gb2312"/>
   
  </appSettings>
  <connectionStrings>
    <!-- 数据库连接配置 -->

    <add name="MSSqlServer" connectionString="server=localhost;database=HairNetDB;uid=sa;pwd=sa;"/>
  </connectionStrings>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
</configuration>
