/* CSS Document */
.zzstable01 { border-bottom:#c1c1c1 1px solid; border-top:#c1c1c1 1px solid; }

.zzpic {text-align:center;margin:0px auto 0px auto;width:162px;height:97px;border:#d0d0d0 1px solid;}
.zzpic img {width:158px;height:93px;margin-top:2px;}